# Editor directories and files
.idea

# Package Manager
node_modules
.pnpm-debug.log*

# System
.DS_Store

# Bundle
dist
coverage
packages/tw-element/version.ts

# local env files
*.local
cypress/screenshots/*
cypress/videos/*
