@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(skeleton) {
  --tw-skeleton-circle-size: var(--tw-avatar-size);
}

@mixin circle-size($size) {
  width: $size;
  height: $size;
  line-height: $size;
}

@include b(skeleton) {
  @include e(item) {
    background: var(--tw-skeleton-color);
    display: inline-block;
    height: 16px;
    border-radius: var(--tw-border-radius-base);
    width: 100%;
  }

  @include e(circle) {
    border-radius: 50%;

    width: var(--tw-skeleton-circle-size);
    height: var(--tw-skeleton-circle-size);
    line-height: var(--tw-skeleton-circle-size);
  }

  @include e(button) {
    height: 40px;
    width: 64px;
    border-radius: 4px;
  }

  @include e(p) {
    width: 100%;
    @include when(last) {
      width: 61%;
    }

    @include when(first) {
      width: 33%;
    }
  }

  @include e(text) {
    width: 100%;
    height: var(--tw-font-size-small);
  }

  @include e(caption) {
    height: var(--tw-font-size-extra-small);
  }

  @include e(h1) {
    height: var(--tw-font-size-extra-large);
  }

  @include e(h3) {
    height: var(--tw-font-size-large);
  }

  @include e(h5) {
    height: var(--tw-font-size-medium);
  }

  @include e(image) {
    width: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;

    svg {
      fill: var(--tw-svg-monochrome-grey);
      width: 22%;
      height: 22%;
    }
  }
}
